<a href="https://colab.research.google.com/github/amannagarkar/Deep-Learning-342/blob/main/DL_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy

from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
train_path = "/content/drive/MyDrive/Data/Peptide-Analysis/train.dat"
test_path = "/content/drive/MyDrive/Data/Peptide-Analysis/test.dat"
train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [ ]:
train_data.head()

                               -1\tDVELDLVEISPNALP
0                               -1\tKADEELFNKLFFGT
1  -1\tFLVALHLGTAFALLWYFRKRWCALVRGFFASFGGRRNDDAHMM
2                         -1\tRDQMRARIADITGVAISRIA
3                                    -1\tRKRLQLLLL
4                    -1\tPGFCVGEASPLKSPGRRELGHGNLA

In [ ]:
train_data.columns = ['String']
train_data = train_data['String'].str.split("\t",n=1 , expand = True )
train_data.columns = ['Class','Peptide']
train_data.head()

  Class                                      Peptide
0    -1                               KADEELFNKLFFGT
1    -1  FLVALHLGTAFALLWYFRKRWCALVRGFFASFGGRRNDDAHMM
2    -1                         RDQMRARIADITGVAISRIA
3    -1                                    RKRLQLLLL
4    -1                    PGFCVGEASPLKSPGRRELGHGNLA

In [ ]:
train_data.describe()

       Class          Peptide
count   1565             1565
unique     2             1558
top       -1  KKKLLLLLLLLLKKK
freq    1423                2

In [ ]:
l1 = []
for i in range(0,len(train_data)):
    dict1 = {'K': 0, 'A': 0, 'D': 0, 'E': 0, 'L': 0, 'F': 0, 'N': 0, 'G': 0, 'T': 0, 'V': 0, 'H': 0, 'W': 0, 'Y': 0, 'R': 0, 'C': 0, 'S': 0, 'M': 0, 'Q': 0, 'I': 0, 'P': 0, 'X': 0}
    for j in train_data['Peptide'][i]:
        if j not in dict1:
            dict1[j] = 1
        else:
            dict1[j] += 1
        
    str1=""
    for k in dict1.values():
            str1+=str(k)
    l1.append(str1)

In [ ]:
print(len(l1))

1565

In [ ]:
train_data['peptide'] = l1
train_data.head(10)

  Class                                      Peptide                peptide
0    -1                               KADEELFNKLFFGT  211223111000000000000
1    -1  FLVALHLGTAFALLWYFRKRWCALVRGFFASFGGRRNDDAHMM  162066141222151120000
2    -1                         RDQMRARIADITGVAISRIA  042000011100040111400
3    -1                                    RKRLQLLLL  100050000000020001000
4    -1                    PGFCVGEASPLKSPGRRELGHGNLA  120231150110021200030
5    -1                           TPEEDTMVMKPLPPEPAP  111310002100000020060
6    -1                                     SKDMRVQR  101000000100020111000
7    -1                                 IAASIRHPLHCT  020010001020011100210
8    -1                          HPNLNLFAAGHDGGMIVFK  121022230120000010110
9     1                         ALWKTLLKKVLKAYSPWTNF  420041102102100100010

In [ ]:
train_data.drop(columns = ['Peptide'])

     Class                peptide
0       -1  211223111000000000000
1       -1  162066141222151120000
2       -1  042000011100040111400
3       -1  100050000000020001000
4       -1  120231150110021200030
...    ...                    ...
1560    -1  011100021000100101000
1561     1  100004030023040000200
1562     1  210010000101020100100
1563    -1  010010122300000200110
1564    -1  000001000010010101000

[1565 rows x 2 columns]

In [ ]:
nn_architecture = [
    {"input_dim": 2, "output_dim": 4, "activation":"relu"},
    {"input_dim": 4, "output_dim": 4, "activation":"relu"},   
    {"input_dim": 4, "output_dim": 2, "activation":"relu"},
    {"input_dim": 2, "output_dim": 1, "activation":"sigmoid"}
]

In [ ]:
def init_layers(nn_architecture, seed = 99):
    np.random(seed)
    number_of_layers = len(nn_architecture)
    param_values = {}